* {   /* selectoe universar para eliminar todos espacios que viene por defecto en los navegadores debido a las etiquetas*/ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /*margin, border y padding pasan a formar parte del cálculo del ancho de la caja y no lo suman posteriormente*/
}
/*Login style begins*/
.login-main {
    background-image: url('./images/registro_fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
	height: 100vh;
}

.section_login {
    position: absolute;
    left: 12.38%;
    right: 12.69%;
    top: 10.49%;
    bottom: 10.32%;
    background: rgba(198, 207, 255, 0.5);
    border-radius: 18px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 9%;
    padding: 2%;
}

.animalPawnet {
    font-family: 'Jenna Sue', sans-serif;
    font-weight: 250;
    font-size: 12vw; 
    margin-top: -25vw; 
  
}

.inputs {
    border: none;
    margin-top: 15%;
    border-bottom: 2px solid black;
    background-color: rgba(198, 206, 255, 0);
    padding: 7%;
   
}

#log-in {
    position: absolute;
    width: 140px;
    height: 34px;
    left: 24.38%;
    right: 19.69%;
    top: 50%;
    background: #C6CFFF;
    border-radius: 18px;
}

.sectionLinesHr {
    margin-top: 10vw;
    margin-bottom: 0vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.hrSecLog {
    height: 1px;
    width: 35vw;
    bottom: 10%;
    background-color: black;
    margin: 1%;
    border: #000000;
}

/*.pLetSec {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3.5vw;
    display: flex;
    align-items: center;
    color: #000000;
    bottom: 3%;
    
}
*/

#register {
    position: absolute;
    width: 140px;
    height: 34px;
    left: 24.38%;
    right: 19.69%;
    top: 82%;
    background: #C6CFFF;
    border-radius: 18px;
}


/*Login style ends*/

/*Register style begins*/

.mainRegister{
    background-image: url('./images/registro_fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
	height: 100vh;
}

.sectionRegister{
display: flex;
position: absolute;
left: 19.38%;
right: 19.69%;
top: 15.49%;
bottom: 12.32%;
background: rgba(198, 207, 255, 0.5);
border-radius: 18px;
flex-flow: column wrap;
padding: 5%;
align-items: center;
}

.title{
   font-family: 'Jenna Sue', sans-serif;
   font-weight: 250;
   font-size: 200%;   
   margin: 1%;                                               
}

.p{
margin: 2%;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: center;
color: #000000;
}

.inputRegister {
    margin-top: 5%;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(198, 206, 255, 0);
  }

.registerButton{
    height: 10%;
    width: 60%;
    margin-top: 15%;
    margin-bottom: 15%;
    background: #C6CFFF;
    border-radius: 18px;
    font-family: 'Francois One';
    font-size: 11px;
    color: #000000;
    }
    
.sectionLine{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hr {
    height: 1px;
    width: 80px;
    background-color: black;
    margin: 5%;
    border: #000000;
  }

  .googleButton{
    margin-top: 15%;
    height: 10%;
    width: 90%;
    border-radius: 18px;
    font-family: 'Francois One';
    font-size: 11px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 18px;

  }
  /*Register style ends*/

/*timeLine style begins*/
/*body {
    height: 100vh;
    background-color: blueviolet;
}
#root{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color:deeppink;
    justify-content: center;
}*/
.mainTimeline-Container{
    background-color: aqua;
    height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.createPostTLContainer{
    height: 20vh;
    width: 80%;
    background-color: rgb(74, 84, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inputText{
    width: 40rem;
    height: 6rem;
    font-size: 1.5rem;
    border-radius: .5rem;
}
.postButton{
    width: 8rem;
    height: 2.5rem;
    margin-left: 25rem;
    font-size: 1.3rem;
    background-color: #E8D3FF;
}
.userContainer{
    height: 60vh;
    width: 80%;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.userNameContainer{
    height: 5rem;
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userPicture{
    height: 3rem;
    width: 3rem;
}
.iconsContainer{
    height: 10vh;
    width: 80%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px, solid, navy;*/
}
.contentPostContainer{
    height: 20vh;
    width: 80%;
    background-color: aquamarine;
}
.iconImages{
    height: 2rem;
    width: 2rem;
}
.menuBarImages{
    height: 2rem;
    width: 2rem;

}
/*
@media only screen and (max-width: 700px){
    
    
    }*/
/*timeLine style begins*/
