* {   /* selectoe universar para eliminar todos espacios que viene por defecto en los navegadores debido a las etiquetas*/ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      /*margin, border y padding pasan a formar parte del cálculo del ancho de la caja y no lo suman posteriormente*/
}
/*Login style begins*/
.login-main {
    background-image: url('/images/inicio_de_sesión.png');
    background-repeat: no-repeat;
    width: 100vw;
	height: 100vh;
}
.section_login {
    position: absolute;
    left: 9.38%;
    right: 19.69%;
    top: 7%;
    bottom: 30.32%;
    border-radius: 18px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding: 2%;
}

.inputs {
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(198, 206, 255, 0);
    padding: 1%;
   
}

#log-in {
    position: absolute;
    width: 140px;
    height: 34px;
    left: 24.38%;
    right: 19.69%;
    top: 68%;
    background: #C6CFFF;
    border-radius: 18px;
}

#register {
    position: absolute;
    width: 140px;
    height: 34px;
    left: 24.38%;
    right: 19.69%;
    top: 93%;
    background: #C6CFFF;
    border-radius: 18px;
}
/*Login style ends*/

/*Register style begins*/

.mainRegister{
    background-image: url('./images/registro_fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
	height: 100vh;
}

.sectionRegister{
display: flex;
position: absolute;
left: 19.38%;
right: 19.69%;
top: 15.49%;
bottom: 12.32%;
background: rgba(198, 207, 255, 0.5);
border-radius: 18px;
flex-flow: column wrap;
padding: 3vw;
align-items: center;
}

.title{
   font-family: 'Jenna Sue', sans-serif;
   font-weight: 250;
   font-size: 10vw;   
   margin: 1vw;                                               
}

.p{
margin: 1vw;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 3.5vw;
display: flex;
align-items: center;
color: #000000;
}

.inputRegister {
    width: 40vw;
    height: 3vh;
    margin-top: 1vw;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(198, 206, 255, 0);
  }

.registerButton{
    height: 7vh;
    width: 22vw;
    margin-top: 7vw;
    background: #C6CFFF;
    border-radius: 18px;
    font-family: 'Francois One';
    font-size: 3.5vw;
    color: #000000;
    }
    
    .sectionLine{
        margin-top: 8vw;
        margin-bottom: 8vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

.hr {
    height: 1px;
    width: 25vw;
    background-color: black;
    margin: 5%;
    border: #000000;
  }

  .googleButton{
    height: 7vh;
    width: 40vw;
    border-radius: 18px;
    font-family: 'Francois One';
    font-size: 3.5vw;
    color: #000000;
    background: #FFFFFF;
    border-radius: 18px;
  }
  /*Register style ends*/



/*TIMELINE STYLES BEGIN*/

   body {
    height: 100vh;
    /*background-color: blueviolet;*/
}
.timeLineMainContainer{
    background-color: #F3F8FF;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainContainer{
    height: 100vh;
    display: flex;
    align-items: center;
   /* background-color:rgb(194, 199, 122);*/
    justify-content: center;
}*/
.mainTimeline-Container{
    /*background-color: aqua;*/
    height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.createPostTLContainer{
    height: auto;
    width: 100%;
    padding: 1.5rem 2rem;
    /*background-color: rgb(74, 84, 92);*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.userPostPicture{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}
.inputWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
}
.inputText{
    width: 100%;
    height: 6rem;
    font-size: 1.5rem;
    border-radius: .5rem;
}
.postButton{
    width: 8rem;
    height: 2.5rem;
    font-size: 1.3rem;
    background-color: #E8D3FF;
    border: none;
    border-radius: .5rem;
}
.feedContainer{
    height: 60vh;
    width: 100%;
    /*background-color: coral;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.userNameContainer{
    height: 5rem;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}
.userPicture{
    height: 3rem;
    width: 3rem;
}

.iconsContainer{
    height: 10vh;
    width: 80%;
   /* background-color: antiquewhite;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contentPostContainer{
    height: auto; 
    width: 80%;
    min-height: 20vh;
    border: 1px solid #000000;
    /*background-color: aquamarine;*/
}
.iconImages{
    height: 2rem;
    width: 2rem;
}
.navBar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.iconsNavBar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuBarImages{
    height: 3rem;
    width: 3rem;
}
